* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

#background {
    position: fixed;
    z-index: 0;
}

a {
    color: white;
    font-size: 150%;
    font-weight: 600;
}

#title {
    z-index: 1;
    top: 10%;
    font-size: 200%;
    font-weight: 600;
    color: rgba(219, 215, 215, 0.5);
    position: absolute;
    left: 30%;

}

#one {
    z-index: 1;
    position: absolute;
    top: 80%;
    left: 20%;
    padding: 1%;
    border-radius: 5px;
}

#two {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 40%;
    padding: 1%;
    border-radius: 5px;
}

#three {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 80%;
    padding: 1%;
    border-radius: 5px;
}

#four {
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 10%;
    padding: 1%;
    border-radius: 5px;
}

#five {
    z-index: 1;
    position: absolute;
    top: 80%;
    left: 60%;
    padding: 1%;
    border-radius: 5px;
}

a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}