* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 200%;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: wheat;
}

nav#content a {
  text-align: center;
  padding: 5%;
}

#background {
  background-image: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

nav#content {
  max-width: 100%;
  padding-top: 100px;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, minmax(60px, auto));
  grid-gap: 25px;
}

#one {
  grid-column-end: 9;
  grid-column-start: 3;
  grid-row: 1;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(94, 115, 121);
}

#one:hover {
  background-color: rgb(163, 179, 183);
}

#two {
  grid-column-end: 9;
  grid-column-start: 3;
  grid-row: 2;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(94, 115, 121);
}

#two:hover {
  background-color: rgb(163, 179, 183);
}

#three {
  grid-column-end: 9;
  grid-column-start: 3;
  grid-row: 3;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(94, 115, 121);
}

#three:hover {
  background-color: rgb(163, 179, 183);
}

#four {
  grid-column-end: 9;
  grid-column-start: 3;
  grid-row: 4;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(94, 115, 121);
}

#four:hover {
  background-color: rgb(163, 179, 183);
}

nav#footer {
  grid-column-end: 9;
  grid-column-start: 3;
  grid-row: 9;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgb(94, 115, 121);
  color: wheat;
  grid-column: span 0.5;
}
