* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(176, 166, 123);
}

button {
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 8px;
    margin-top: 10%;
}

#generateButton {

}

#randomNumberContainer {
    font-size: 150%;
    display: flex;
    color: white;
  }
  
  .randomNumber {
    padding: 40px;
  }