* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    font-weight: 200;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}


/*TOP BUTTON*/
#topBtn {
    z-index: 1010;
    background-color: #000000;
    color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 2;
    position: fixed;
    top: 70%;
    left: 94%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-transform: uppercase;
    font-size: 160%;
    border-radius: 6px;
    display: none;
    width: 15%;
    border: 1px solid white;
}

#topBtn:hover {
    background-color: #5a5959;
    color: #ffffff;
    transition: 0.2s ease;
    border: 1px solid white;
}

/*TOP BUTTON*/




/*HEADER*/
header {
    height: 16%;
    background-color: #000000;
    grid-column-start: 1;
    grid-column-end: 13;
    width: 100%;
    z-index: 1004;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 8px #ddd;
}

.hambi {
    background-color: black;
    padding: 0%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 150%;
    text-transform: uppercase;
    display: none;
}

.toggle {
    display: block;

}

.closeBtn {
    background-color: black;
    padding: 0%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 150%;
    text-transform: uppercase;
    display: block;
    transition: 0.1s ease;
}

.close {
    transform: scale(0);
    display: none;
}

#logo {
    color: #ddd;
    padding: 3%;
    right: 100%;
    display: flex;
    justify-content: center;

}

#logo h1 {
    font-weight: 400;
    font-size: 200%;
}

#logo a {
    color: #ddd;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

#logo img {
    width: 17%;
    margin-right: 2%;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 1;
    background-color: rgb(160, 160, 160);
    height: 25%;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5%;
    z-index: 1003;
    transition: 0.4s;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid black;
}

.active {
    height: 0%;
    visibility: collapse;
    transition: all 0.3s ease;
}

.font1,
.font2,
.font3,
.font4 {
    visibility: collapse;
    transition: 0.1s ease;
}

#shop {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: span 4;
    margin-left: 0%;
    padding: 1%;
}

#story {
    grid-column-start: 6;
    grid-column-end: 8;
    padding: 1%;
}

#contact {
    grid-column-start: 8;
    grid-column-end: 10;
    padding: 1%;
}

#login {
    grid-column-start: 10;
    grid-column-end: 13;
    padding: 1%;
    margin-right: 0%;
}

#shop,
#login,
#story,
#contact {
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-weight: 400;
    margin-top: 6.5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

#shop:hover,
#login:hover,
#story:hover,
#contact:hover {
    border-bottom: 2px solid #000000;
    transition: all 0.3s ease;
    color: #000000;
    font-style: italic;
}

/*HEADER*/



/*Main Page*/
.index-body {
    background-color: #000000;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, minmax(30px, auto));
    grid-gap: 0px;
    width: 100%;
}

#content1 {
    top: 18%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#content1 #video1 {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    position: relative;
    z-index: 998;
    display: block;
}

#video2 {
    display: none;
}

#content1 h5 {
    margin-left: 5%;
    width: 80%;
    font-style: italic;
    position: absolute;
    z-index: 999;
    top: 82%;
    left: 4%;
    color: white;
    font-size: 210%;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.index1 {
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 15%;
    text-align: left;
}

.index1 img {
    width: 100%;
    margin-left: 15%;
}

.index1 h2 {
    font-size: 2rem;
    padding: 4%;
    color: #ffffff;
}

.index1 p {
    padding: 4%;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

.index2 {
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 7%;
    text-align: left;
}

.index2 h2 {
    font-size: 2rem;
    padding: 4%;
    color: #ffffff;
}

.index2 p {
    padding: 4%;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

.indeximg {
    margin-top: 5%;
    grid-column-start: 2;
    grid-column-end: 12;
    border-radius: 8px;
}

.indeximg img {
    border-radius: 8px;
}

.index3 {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    text-align: left;
}

.index3 h2 {
    font-size: 2rem;
    padding: 2%;
    text-align: left;
    color: #ffffff;
}

.index3 p {
    padding: 4%;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}



.index3 iframe {
    margin: 5%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #ffffff;
}


.index-footer {
    margin-top: 7%;
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-gap: 0px;
    margin-bottom: 0%;
    box-shadow: 0 0.5px 8px #ddd;
}

/*Main Page End*/



/*Footer Content*/

#one {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #000;
    color: #ddd;
    padding: 15% 5%;
    text-align: center;
}

#two {
    grid-column-start: 5;
    grid-column-end: 9;
    background-color: #000;
    color: #ddd;
    padding: 15% 5%;
    text-align: center;
}

#three {
    grid-column-start: 9;
    grid-column-end: 13;
    background-color: #000;
    color: #ddd;
    padding: 15% 5%;
    text-align: center;
}


#two a {
    color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

#two a:hover {
    background-color: #3d3b3b;
    transition: all 0.3s ease;
}

#three.icon-bar {
    margin-top: 5%;
}

.icon-bar a {
    text-align: center;
    transition: all 0.3s ease;
    padding: 22px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.icon-bar a:hover {
    background-color: #3d3b3b;
}

.facebook {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.twitter {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.instagram {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.youtube {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/*Footer Content*/



/*MODELS PAGE*/
#models-body {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, minmax(30px, auto));
    grid-gap: 0px;
}

#models-header {
    height: 16%;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 13;
    width: 100%;
    z-index: 1004;
    position: fixed;
    top: 0;
    box-shadow: 0 0.5px 5px #b9b8b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.models-content {
    height: 500px;
    top: 45%;
    margin-bottom: 10%;
    grid-column-end: 12;
    grid-column-start: 2;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
    position: relative;
    width: 97%;
}

#models-flex-content4 {
    display: flex;
    justify-content: space-between;
    justify-items: first baseline;
    align-items: center;
}

#models-content4-img {
    width: 72%;
    padding-left: 2%;
}

#models-content4-img h2 {
    font-style: italic;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    z-index: 15;
    position: absolute;
    top: 10%;
    left: 3%;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
}

#models-content4-text p {
    width: 110%;
    margin: 17%;
    padding: 5%;
    font-size: 120%;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

#models-content4-text p:hover {
    color: #726b6b;
    transition: all 0.2s ease;

    border-bottom: 1px solid rgb(124, 117, 117);
}

#models-footer {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-gap: 0px;
    margin-bottom: 0%;
    margin-top: 20%;
    bottom: 0;
    grid-row: 8;
    grid-column: span 13;
    grid-row: span 5;
    background-color: black;
    color: #ddd;
    margin-bottom: 0;
    box-shadow: 0 0.5px 10px #ddd;
}

.models-menu {
    background-color: black;
}

.models-close {
    background-color: black;
}

#one p {
    color: white;
}

#back-to-models {
    margin-left: 40%;
    font-size: 150%;
    text-transform: uppercase;
}

#back-to-models a {
    color: #ddd;
}

/*MODELS PAGE*/



/*Abou Us*/
.story-body {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, minmax(100px, auto));
    grid-gap: 0px;
    width: 100%;
}

.story-imgs-1 {
    display: none;
}

.story1 {
    margin-top: 5%;
    color: rgb(255, 255, 255);
    grid-column-start: 7;
    grid-column-end: 12;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.story1 img {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.story1 h2 {
    padding: 5%;
    font-size: 270%;
}

.story1 p {
    padding: 5%;
    font-size: 130%;
    width: 100%;
}


.story2 {
    margin-left: 2%;
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
}

.story2 h2 {
    color: rgb(255, 255, 255);
    font-size: 270%;
    padding: 5%;
}

.story2 p {
    color: rgb(255, 255, 255);
    padding: 5%;
    font-size: 130%;
    width: 100%;
}

.story2 img {
    margin-top: 2%;
    width: 20%;
}

.story3 {
    grid-column-start: 2;
    grid-column-end: 12;
}

.story3 iframe {
    margin-top: 7%;
    border-radius: 8px;
}

.parallelogram {
    position: relative;
    margin-top: 63%;
    grid-column-start: 6;
    grid-column-end: 12;
    width: 85%;
    overflow: hidden;
    margin-left: 31%;
    transform: skewX(-25deg);
    transform: skewY(-50deg)
}

.parallelogram img {
    width: 200%;
    transform: skewX(25deg);
    transform: skewY(50deg);
}

.parallelogram2 {
    margin-top: 62.8%;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 8;
    width: 45%;
    overflow: hidden;
    transform: skewX(-25deg);
    transform: skewY(-50deg)
}

.parallelogram2 img {
    margin-top: 50%;
    width: 100%;
    transform: skewX(25deg);
    transform: skewY(50deg);
}

.parallelogram3 {
    margin-top: 27%;
    margin-left: 42.7%;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 12;
    width: 40%;
    overflow: hidden;
    transform: skewX(-25deg);
    transform: skewY(-50deg)
}

.parallelogram3 img {
    width: 100%;
    transform: skewX(25deg);
    transform: skewY(50deg);
}

.parallelogram4 {
    margin-top: 49.5%;
    margin-left: 9%;
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 12;
    width: 70%;

    overflow: hidden;
    transform: skewX(-25deg);
    transform: skewY(-50deg)
}

.parallelogram4 img {
    width: 100%;
    transform: skewX(25deg);
    transform: skewY(50deg);
}


.story5 {
    margin-left: 10%;
    color: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 6;
    margin-top: 40%;
    border-radius: 8px;
}

.story5 h2 {
    padding: 5%;
    font-size: 270%;
}

.story5 p {
    padding: 5%;
    font-size: 130%;
    width: 100%;
}

.story-footer {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-gap: 0px;
    margin-top: 15%;
    margin-bottom: 0%;
    background-color: black;
    color: #ddd;
    box-shadow: 0 0.5px 10px #ddd;
}

/*About Us*/




/*Contact Us*/
.contact-body {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, minmax(50px, auto));
    grid-gap: 0px;
}

.contact1 {
    top: 8%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.contact1 img {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    position: relative;
    z-index: 998;
    display: block;
}

.contact1 h5 {
    text-align: center;
    width: 28%;
    font-style: italic;
    position: absolute;
    z-index: 999;
    top: 72%;
    left: 35%;
    color: rgb(255, 255, 255);
    font-size: 400%;
    font-weight: 700;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.contact2 {
    margin-bottom: 10%;
    margin-top: 10%;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact2 p {
    padding: 5%;
    color: white;
    font-size: 170%;
    width: 100%;
}

.contact3 {
    margin-top: 0%;
    grid-column-start: 2;
    grid-column-end: 12;
    color: white;
}

.contact3 h2 {
    font-size: 200%;
    padding: 5%;
}

.contact3 p {
    font-size: 130%;
    padding: 5%;
    padding-top: 0%;
}

.contact3 a {
    color: #b64b4b;
}

.contact4 {
    margin-top: 7%;
    grid-column-start: 2;
    grid-column-end: 12;
    color: white;
}

.contact4 h2 {
    font-size: 200%;
    padding: 5%;
}

.contact4 p {
    font-size: 130%;
    padding: 5%;
    padding-top: 0%;
}

.contact4 a {
    color: #b64b4b;
}

.contact5 {
    margin-top: 25%;
    grid-column-start: 2;
    grid-column-end: 7;
    color: white;
}

.contact5 h2 {
    margin-left: 10%;
    font-size: 200%;
    padding: 5%;
}

.contact5 p {
    font-size: 130%;
    padding: 5%;
    padding-top: 0%;
    margin-left: 10%;
}

.contact6 {
    margin-top: 10%;
    grid-column-start: 7;
    grid-column-end: 12;
}

.contact6 iframe {
    width: 100%;
    border-radius: 8px;
}

.contact-wrap {
    margin-top: 5%;
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: #000000;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contact7-1 {
    width: 20%;
    margin-top: 6%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.contact7-1 h2 {
    font-size: 170%;
}

.contact7-1 p {
    padding: 2%;
    font-size: 130%;
}

.contact7-1 a {
    color: white;
}

.contact7-1 a:hover {
    transition: 0.3s ease;
    color: #ce7d7d;
}

.contact7-2 {
    width: 30%;
    margin-top: 6%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.contact-icon-bar {
    margin-left: 28%;
    font-size: 170%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

.cont-facebook {
    color: white;
    padding: 4%;
}

.cont-instagram {
    color: white;
    padding: 4%;
}

.cont-youtube {
    color: white;
    padding: 4%;
}

.cont-twitter {
    color: white;
    padding: 4%;
}

.cont-twitter:hover,
.cont-youtube:hover,
.cont-instagram:hover,
.cont-facebook:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
    transform: scale(1.2);
    background-color: rgb(63, 63, 63);
    border-radius: 8px;
}


.contact7-2 h2 {
    font-size: 170%;
}

.contact7-2 p {
    padding: 3%;
    font-size: 130%;
    font-weight: 300;
}

.contact7-3 {
    margin-left: 5%;
    margin-top: 6%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.contact7-3 h2 {
    font-size: 170%;
}

.contact7-3 p {
    padding: 2%;
    font-size: 120%;
}

.contact8 {
    margin-top: 15%;
    grid-column-start: 2;
    grid-column-end: 13;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.contact8 h2 {
    color: white;
    font-size: 200%;
    padding: 2%;
}

.contact8 p {
    padding: 2%;
    color: white;
    font-size: 130%;
    width: 100%;
}

.contact9 {
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contact-form1 {
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 2%;
    color: white;
    display: flex;

    flex-direction: column;
}

.contact-us-form {
    display: flex;
    flex-direction: row;
}

.form-cont {
    width: 50%;
}


.message {
    margin-left: 6%;
    margin-top: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.message2 {
    display: none;
}

.message label {
    font-size: 150%;
}

.message textarea {
    width: 100%;
    height: 70%;
    border-radius: 3px;

}

.message p {
    text-align: center;
}

#submit2 {
    margin-left: 60%;
    background-color: #000000;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 130%;
    font-style: italic;
    border: 2px solid rgb(255, 255, 255);
    color: white;
}

#submit2:hover {
    background-color: #929595;
    transition: 0.2s ease;
}

.contact10 {
    margin-top: 15%;
    grid-column-start: 2;
    grid-column-end: 12;
}

.contact10 p {
    padding: 5%;
    font-size: 170%;
    color: white;
}

.contact11 {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact11 img {
    width: 20%;
}

.contact-footer {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-gap: 0px;
    margin-bottom: 0%;
    margin-top: 120%;
    width: 150%;
    bottom: 0;
    grid-row: 8;
    grid-column: span 13;
    grid-row: span 5;
    background-color: black;
    color: #ddd;
    margin-bottom: 0;
    box-shadow: 0 0.5px 10px #ddd;
}

/*Contact Us*/





/*Buy / Test Drive*/
.buy-body {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, minmax(50px, auto));
    grid-gap: 0px;
}

.select {
    margin-top: 25%;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: center;
}

.select p {
    font-size: 170%;
    color: white;
}

.form-div {
    margin-top: 10%;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4%;
}

.form input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
}

.form select {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    padding: 5px;
}

.form option {
    font-size: 120%;
}

.form label {
    font-size: 150%;
}




.form2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4%;
}

.form2 input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
}

.form2 select {
    width: 100%;
    height: 30px;
    border-radius: 8px;
    padding: 5px;
}

.form2 option {
    font-size: 120%;
}

.form2 label {
    font-size: 150%;
}

#cars {
    margin-bottom: 10%;
}

#submit {
    background-color: #000000;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 130%;
    font-style: italic;
    border: 2px solid rgb(255, 255, 255);
    color: white;
}

#submit:hover {
    background-color: #929595;
    transition: 0.2s ease;
}

.buy1 {
    margin-top: 25%;
    grid-column-start: 2;
    grid-column-end: 7;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.buy-img {
    margin-left: 5%;
    margin-top: 10%;
    width: 100%;
}

.buy2 {
    margin-top: 36%;
    grid-column-start: 7;
    grid-column-end: 12;
    display: flex;
    flex-direction: column;
}

.buy2 img {
    border-radius: 8px;
}

.buy-footer {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-gap: 0px;
    margin-bottom: 0%;
    margin-top: 11%;
    bottom: 0;
    grid-row: 8;
    grid-column: span 13;
    grid-row: span 5;
    background-color: black;
    color: #ddd;
    margin-bottom: 0;
    box-shadow: 0 0.5px 10px #ddd;
}

/*Buy / Test Drive*/




/*REVUELTO*/
#mbody {
    background-color: #000000;
    /*background-color: #1e242f;*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, minmax(30px, auto));
    grid-gap: 0px;
}

#revuelto1 {
    top: 22%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#revuelto1 #video1 {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    position: relative;
    z-index: 998;
    display: block;
}

#revuelto1 h5 {
    margin-left: 30%;
    text-align: center;
    width: 30%;
    font-style: italic;
    position: absolute;
    z-index: 999;
    top: 85%;
    left: 4%;
    color: white;
    font-size: 200%;
    font-weight: 500;
    border-bottom: 2px solid white;
}

#rev2 {
    margin-top: 30%;
    grid-column-start: 2;
    grid-column-end: 12;
    margin-bottom: 0;
}

#rev2 h2 {
    color: white;
    font-size: 270%;
}

#rev2 p {
    color: white;
    font-size: 170%;
    padding: 2%;
}

#rev3 {
    grid-column-start: 1;
    grid-column-end: 13;
}

#rev4 {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rev4 h3 {
    padding: 5px;
    color: white;
    font-size: 150%;
    font-style: italic;
    font-weight: 300;
}

#rev5 {
    margin-top: 10%;
    grid-column-start: 2;
    grid-column-end: 12;
    margin-bottom: 0;
}

#rev5 h2 {
    color: white;
    font-size: 270%;
}

#rev5 p {
    color: white;
    font-size: 170%;
    padding: 2%;
}

#rev6 {
    margin-top: 12%;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rev6 img {
    width: 15%;
}

.models-imgs-1 {
    margin-top: 5%;
    margin-bottom: 5%;
    display: none;
}

#rev-footer {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-gap: 0px;
    margin-bottom: 0%;
    margin-top: 5%;
    bottom: 0;
    grid-row: 8;
    grid-column: span 13;
    grid-row: span 5;
    background-color: black;
    color: #ddd;
    margin-bottom: 0;
    box-shadow: 0 0.5px 10px #ddd;
}
/*Revuelto*/



/*GT3 RS*/
#gt3-1 {
    top: 15%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#gt3-1 #video1 {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    position: relative;
    z-index: 998;
    display: block;
}

#gt3-1 h5 {
    margin-left: 30%;
    text-align: center;
    width: 30%;
    font-style: italic;
    position: absolute;
    z-index: 999;
    top: 68%;
    left: 4%;
    color: white;
    font-size: 200%;
    font-weight: 500;
    border-bottom: 2px solid white;
}
/*GT3 RS*/



/*SF90*/
#sf1 {
    top: 19%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#sf1 #video1 {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    position: relative;
    z-index: 998;
    display: block;
}

#sf1 h5 {
    margin-left: 30%;
    text-align: center;
    width: 30%;
    font-style: italic;
    position: absolute;
    z-index: 999;
    top: 80%;
    left: 4%;
    color: white;
    font-size: 200%;
    font-weight: 500;
    border-bottom: 2px solid white;
}

#sf {
    margin-top: 15%;
}

#sf3 {
    grid-column-start: 2;
    grid-column-end: 12;
}
/*SF90*/




/*Turbo S*/
#turbo1 {
    top: 10%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#turbo1 #video1 {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    position: relative;
    z-index: 998;
    display: block;
}

#turbo1 h5 {
    margin-left: 30%;
    text-align: center;
    width: 30%;
    font-style: italic;
    position: absolute;
    z-index: 999;
    top: 80%;
    left: 4%;
    color: white;
    font-size: 200%;
    font-weight: 500;
    border-bottom: 2px solid white;
}
/*Turbo S*/




/*AMG GT*/
#benz {
    margin-top: 10%;
    margin-bottom: 5%;
}

#amg1 {
    top: 10%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#amg1 #video1 {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    position: relative;
    z-index: 998;
    display: block;
}

#amg1 h5 {
    margin-left: 25%;
    text-align: center;
    width: 50%;
    font-style: italic;
    position: absolute;
    z-index: 999;
    top: 70%;
    left: 0%;
    color: white;
    font-size: 200%;
    font-weight: 500;
    border-bottom: 2px solid white;
}
/*AMG GT*/



/*Back to models Button*/
#back-to-m {
    color: white;
    margin-left: 20%;
    text-transform: uppercase;
    font-size: 120%;
}
/*Back to models Button*/




/*Gallery in Models subpages*/
#carousel-models {
    margin-top: 2%;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery {
    margin-top: 10%;
    grid-column-start: 1;
    grid-column-end: 12;
    display: flex;
    justify-content: left;
    align-items: center;
}

.gallery h2 {
    font-size: 350%;
    color: white;
    margin-left: 17%;
    font-weight: 500;
    border-bottom: 1px solid white;
    width: 20%;
}

.carousel-container {
    width: 98%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    transition: transform 0.5s ease;
    min-height: 500px;
    max-height: 900px;
}

.carousel-controls {
    margin-top: 10px;
    text-align: center;
}

.carousel-controls button {
    cursor: pointer;
    padding: 5px 20px;
    margin: 0 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 60px;
    border-radius: 5px;
}
/*Gallery in Models subpages*/


.social1 {
    margin-top: 20%;
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social1 p {
    text-align: center;
    color: white;
    margin-bottom: 2%;
    font-size: 300%;
}

.social1 a {
    border-radius: 5px;
    padding: 2%;
    color: white;
}

.social1 a:hover {
    color: black;
    background-color: #9c9494;
    transition: 0.3s ease;
}

.social1 img {
    margin-top: 5%;
    width: 20%;
}




@media only screen and (min-width: 660px) {



}


/*Max width 660px*/
@media only screen and (max-width: 1340px) {

    #content1 h5 {
        width: 80%;
        font-size: 145%;
        margin: 0 auto;
        text-align: center;
        margin-left: 5%;
        display: none;
    }

    .parallelogram,
    .parallelogram2,
    .parallelogram3,
    .parallelogram4 {
        display: none;
    }

    .story5 {
        grid-column-start: 2;
        grid-column-end: 12;
        margin-left: 0%;
        margin-top: 50%;
        text-align: center;
    }

    

    .story1 {
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 12;
        margin-left: 0%;
    }

    .story1 img {
        margin-top: 10%;
        width: 100%;
        border-radius: 5px;
    }

    .story-imgs-1 {
        display: block;
        grid-column-start: 2;
        grid-column-end: 12;
        border-radius: 5px;
    }

    .story2 img {
        width: 40%;
    }

    .story5 img {
        margin-top: 10%;
        width: 100%;
        border-radius: 5px;
    }

}
/*Max width 660px*/





@media only screen and (max-width: 660px) {

    .social p {
        font-size: 200%;
    }

    .content1 {
        margin-top: 0%;
    }

    #logo h1 {
        font-size: 100%;
    }

    #logo a {
        display: flex;
        flex-direction: row;
    }

    #logo img {
        width: 30%;
    }

    #logo {
        text-align: center;
        width: 45%;
        margin-left: 0%;
    }

    .hambi {
        font-size: 80%;
    }

    .closeBtn {
        font-size: 80%;
    }

    .menu {
        top: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgb(163, 163, 163);
        transition: 0.3s ease;
    }

    .active {
        height: 0%;
        visibility: collapse;
        transition: all 0.3s ease;
    }

    #shop,
    #login {
        margin: 0;
    }

    #login {
        margin-top: 5%;
    }

    #shop,
    #login,
    #story,
    #contact {
        font-size: 1.8rem;
        margin-top: 14%;
    }


    .font1 {
        visibility: collapse;
        transition: 0.3s ease;
    }

    .font2 {
        visibility: collapse;
        transition: 0.2s ease;
    }

    .font3 {
        visibility: collapse;
        transition: 0.1s ease;
    }

    .font4 {
        visibility: collapse;
        transition: 0s ease;
    }

    #topBtn {
        z-index: 1010;
        background-color: #929595;
        color: #3d3b3b;
        grid-column-start: 1;
        grid-column-end: 2;
        position: fixed;
        top: 56%;
        left: 90%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        text-transform: uppercase;
        font-size: 180%;
        border-radius: 6px;
        display: none;
        width: 15%;
    }


    /*Main Page*/
    .index-body {
        background-color: #000000;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, minmax(30px, auto));
        grid-gap: 0px;
        width: 100%;
    }

    header {
        grid-column: span 9;
        width: 100%;
    }

    #content1 {
        top: 35%;
        position: relative;
        grid-column-start: 1;
        grid-column-end: 13;
        box-shadow: 0 1px 8px #ddd;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
    }

    #content1 #video1 {
        display: none;
    }

    #content1 #video2 {
        display: block;
        grid-column-start: 1;
        grid-column-end: 12;
        width: 100%;
        position: relative;
        z-index: 998;
    }

    #content1 h5 {
        display: none;
        top: 70%;
    }

    .index1 {
        text-align: center;
        margin-top: 60%;
    }

    .index2 {
        text-align: center;
    }

    .index3 {
        text-align: center;
    }

    .index3 h2 {
        text-align: center;
    }
    /*Main Page*/



    /*Footer Content*/
    #one {
        grid-column: span 12;
        padding: 5%;
    }

    #two {
        grid-column: span 12;
        padding: 5%;
    }

    #three {
        grid-column: span 12;
        padding: 5%;
        padding-bottom: 10%;
    }
    /*Footer Content*/




    #revuelto1 {
        top: 9%;
    }

    #revuelto1 #video1 {
        display: none;
    }

    #revuelto1 #video2 {
        display: block;
        grid-column-start: 1;
        grid-column-end: 12;
        width: 100%;
        position: relative;
        z-index: 998;
    }


    /*Models*/
    #models-body {
        background-color: #000000;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, minmax(30px, auto));
        grid-gap: 0px;
    }

    .carousel-container {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 13;
        position: relative;
        margin: 0 auto;
        height: auto;
    }

    .carousel {
        top: 200%;
    }

    .slide {
        flex: 0 0 100%;
        margin-left: 10%;
    }

    .carousel-text1 {
        top: 110%;
    }

    #models-content1 h5 {
        font-size: 155%;
        padding: 5% 0% 5% 0%;
    }

    #models-flex-content4 {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    #models-content4-text a {
        text-align: center;
        font-size: 100%;
        width: 100%;
    }

    #models-content4-img {
        margin-right: 12%;
        width: 100%;
        margin-top: 15%;
    }

    #models-content4-img h2 {
        top: 5%;
        font-size: 160%;
        width: 100%;
        text-align: center;
    }

    #models-content {
        grid-column-start: 2;
        grid-column-start: 11;
    }

    #models-flex-content4 {
        margin-top: 10%;
        height: 420px;
        display: flex;
        justify-content: baseline;
        align-items: left;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    #models-content4-img img {
        width: 120%;
        padding: 0;
        margin-bottom: 5%;

        margin-top: 10%;

    }

    .infos-models {
        margin-right: 5%;
        margin-top: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    #models-footer {
        margin-top: 60%;
        bottom: 0;
    }

    #models-footer#three {
        grid-column: span 12;
        padding: 5%;
        padding-bottom: 5%;
    }
    /*Models*/



    /*BUY / TEST*/
    .buy1 {
        justify-content:flex-start;
        grid-column-start: 2;
        grid-column-end: 12;
    }

    .buy1 p {
        font-size: 30px;
        text-align: center;
        margin-right: 0%;
    }

    .form-div {
        width: 100%;
    }

    .buy2 {
        display: none;
    }


    #back-to-m {
        width: 20%;
        font-size: 80%;
        margin-right: 5%;
    }

    .form select {
        margin-left: 3%;
        width: 350px;
    }

    .select {
        margin-top: 50%;
    }

    .select p {
        width: 90%;
    }

    .form-div {
        width: 80%;
    }

    .form select {
        width: 125%;
        text-align: center;
    }

    .form input {
        text-align: center;
        margin-left: 3%;
        width: 125%;
    }

    #submit {
        margin-left: 3%;
        width: 125%;
    }

    .form-div label {
        width: 125%;
        margin-left: 3%;
        margin-bottom: 5%;
    }

    #revuelto1 h5 {
        margin-left: 0%;
        font-size: 160%;
        width: 90%;
    }

    #rev2,
    #rev4,
    #rev5,
    .gallery {
        text-align: center;
    }

    #rev2 p,
    #rev4 p,
    #rev5 p {
        font-size: 120%;
    }

    .gallery {
        display: none;
    }

    #rev4 {
        flex-direction: column;
    }

    #rev4 h3 {
        padding-top: 5%;
        width: 100%;
    }

    .models-imgs-1 {
        border-radius: 5px;
        margin-top: 10%;
        display: block;
    }

    #carousel-models {
        display: none;
    }

    #gt3-1 video {
        margin-top: 23.5%;
    }

    #gt3-1 h5 {
        margin-top: 15%;
        margin-left: 0%;
        width: 90%;
        font-size: 150%;
    }

    #sf1 {
        top: 70%;
    }

    #sf1 h5 {
        width: 92%;
        font-size: 150%;
        margin-left: 0%;
    }

    #rev2 {
        margin-top: 60%;
    }

    #turbo1 h5 {
        width: 92%;
        font-size: 150%;
        margin-left: 0%;
    }

    #turbo1 {
        margin-top: 26%;
    }

    #amg1 h5 {
        width: 92%;
        font-size: 130%;
        margin-left: 3%;
    }

    #amg1 {
        margin-top: 26%;
    }

    .contact-body {
        background-color: #000000;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, minmax(50px, auto));
        grid-gap: 0px;
    }
    
    .contact1 {
        margin-top: 28%;
        position: relative;
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row: span 5;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
    }
    
    .contact1 img {
        grid-column-start: 1;
        grid-column-end: 12;
        width: 100%;
        position: relative;
        z-index: 998;
        display: block;
    }
    
    .contact1 h5 {
        text-align: center;
        width: 48%;
        font-style: italic;
        position: absolute;
        z-index: 999;
        top: 72%;
        left: 24%;
        color: rgb(255, 255, 255);
        font-size: 200%;
        font-weight: 700;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    
    .contact2 {
        margin-bottom: 10%;
        margin-top: 10%;
        grid-column-start: 2;
        grid-column-end: 12;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
    
    .contact2 p {
        padding: 5%;
        color: white;
        font-size: 140%;
        width: 100%;
    }
    
    .contact3 {
        margin-top: 0%;
        grid-column-start: 2;
        grid-column-end: 12;
        color: white;
        text-align: center;
    }
    
    .contact3 h2 {
        font-size: 200%;
        padding: 5%;
    }
    
    .contact3 p {
        font-size: 130%;
        padding: 5%;
        padding-top: 0%;
    }
    
    .contact3 a {
        color: #b64b4b;
    }
    
    .contact4 {
        margin-top: 7%;
        grid-column-start: 2;
        grid-column-end: 12;
        color: white;
        text-align: center;
    }
    
    .contact4 h2 {
        font-size: 200%;
        padding: 5%;
    }
    
    .contact4 p {
        font-size: 130%;
        padding: 5%;
        padding-top: 0%;
    }
    
    .contact4 a {
        color: #b64b4b;
    }
    
    .contact5 {
        margin-top: 25%;
        grid-column-start: 2;
        grid-column-end: 12;
        color: white;
        text-align: center;
    }
    
    .contact5 h2 {
        margin-left: 0%;
        font-size: 200%;
        padding: 5%;
    }
    
    .contact5 p {
        font-size: 130%;
        padding: 5%;
        padding-top: 0%;
        margin-left: 0%;
    }
    
    .contact6 {
        margin-top: 10%;
        grid-column-start: 2;
        grid-column-end: 12;
    }
    
    .contact6 iframe {
        width: 100%;
        border-radius: 8px;
    }
    
    .contact-wrap {
        margin-top: 5%;
        grid-column-start: 1;
        grid-column-end: 13;
        background-color: #000000;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    
    .contact7-1 {
        width: 100%;
        margin-top: 6%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
    }
    
    .contact7-1 h2 {
        font-size: 170%;
    }
    
    .contact7-1 p {
        padding: 2%;
        font-size: 130%;
    }
    
    .contact7-1 a {
        color: white;
    }
    
    .contact7-1 a:hover {
        transition: 0.3s ease;
        color: #ce7d7d;
    }
    
    .contact7-2 {
        width: 100%;
        margin-top: 16%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
    }
    
    .contact-icon-bar {
        margin-left: 28%;
        font-size: 170%;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
    }
    
    .cont-facebook {
        color: white;
        padding: 4%;
    }
    
    .cont-instagram {
        color: white;
        padding: 4%;
    }
    
    .cont-youtube {
        color: white;
        padding: 4%;
    }
    
    .cont-twitter {
        color: white;
        padding: 4%;
    }
    
    .cont-twitter:hover,
    .cont-youtube:hover,
    .cont-instagram:hover,
    .cont-facebook:hover {
        color: rgb(255, 255, 255);
        transition: 0.3s ease;
        transform: scale(1.2);
        background-color: rgb(63, 63, 63);
        border-radius: 8px;
    }
    
    
    .contact7-2 h2 {
        font-size: 170%;
    }
    
    .contact7-2 p {
        padding: 3%;
        font-size: 130%;
        font-weight: 300;
    }
    
    .contact7-3 {
        margin-left: 7%;
        margin-top: 16%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
    }
    
    .contact7-3 h2 {
        font-size: 170%;
    }
    
    .contact7-3 p {
        padding: 2%;
        font-size: 120%;
    }
    
    .contact8 {
        margin-top: 10%;
        grid-column-start: 2;
        grid-column-end: 13;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .contact8 h2 {
        color: white;
        font-size: 200%;
        padding: 2%;
    }
    
    .contact8 p {
        padding: 2%;
        color: white;
        font-size: 130%;
        width: 100%;
    }
    
    .contact9 {
        grid-column-start: 2;
        grid-column-end: 12;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .contact-form1 {
        margin-right: 0%;
        grid-column-start: 2;
        grid-column-end: 12;
        margin-top: 10%;
        color: white;
        display: flex;
        justify-content: space-around;

        flex-direction: column;
    }
    
    .contact-us-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .message {
        display: none;
    }

    .message2 {
        display: block;
        flex-direction: column;
        width: 100%;
    }
    
    .message2 label {
        font-size: 160%;
    }
    
    .message2 textarea {
        padding: 2%;
        margin-left: 0%;
        width: 90%;
        height: 170px;
        border-radius: 3px;
    
    }

    .form input {
        width: 100%;
    }

    .form-cont {
        width: 100%;
        text-align: center;
    }

    .form {
        width: 98%;
    }
    
    #submit2 {
        margin-left: 0%;
        background-color: #000000;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        font-size: 130%;
        font-style: italic;
        border: 2px solid rgb(255, 255, 255);
        color: white;
    }
    
    #submit2:hover {
        background-color: #929595;
        transition: 0.2s ease;
    }
    
    .contact10 {
        margin-top: 15%;
        grid-column-start: 2;
        grid-column-end: 12;
        text-align: center;
    }
    
    .contact10 p {
        padding: 5%;
        font-size: 170%;
        color: white;
    }
    
    .contact11 {
        grid-column-start: 2;
        grid-column-end: 12;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact11 img {
        width: 20%;
    }
    
    .contact-footer {
        grid-column-start: 1;
        grid-column-end: 13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, minmax(30px, auto));
        grid-gap: 0px;
        margin-bottom: 0%;
        margin-top: 120%;
        width: 150%;
        bottom: 0;
        grid-row: 8;
        grid-column: span 13;
        grid-row: span 5;
        background-color: black;
        color: #ddd;
        margin-bottom: 0;
        box-shadow: 0 0.5px 10px #ddd;
    }


    .form2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 4%;
    }
    
    .form2 input {
        height: 50px;
        width: 130%;
        border-radius: 4px;
    }
    
    .form2 select {
        width: 130%;
        height: 30px;
        border-radius: 8px;
        padding: 5px;
    }
    
    .form2 option {
        width: 130%;
        font-size: 120%;
    }
    
    .form2 label {
        font-size: 150%;
    }

}