* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  overflow: auto;
  background-color: black;
}
.parallax {
  background-image: url("../img/first-parallax.jpeg");
  height: 70%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0;
}
.second-parallax {
  background-image: url("../img/second-parallax.webp");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
ul {
  list-style-type: none;
  background-color: rgba(37, 35, 35, 0.8);
  overflow: hidden;
}
li {
  float: left;
  width: 25%;
}
li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 8%;
  text-align: center;
  font-family: "copperplate";
  font-size: larger;
}
li::after {
  content: "";
  clear: both;
  display: table;
}
li a:hover {
  background-color: rgb(70, 70, 74);
}
header {
  position: sticky;
  top: 0;
}
p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
footer {
  display: block;
  text-align: center;
  background-color: black;
  padding-top: 60px;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  font-family: "copperplate";
  font-weight: lighter;
}
#second-paragraph {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}
.third-parallax {
  background-image: url("../img/third-parallax.avif");
  height: 70%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0;
}
.fourth-parallax {
  background-image: url("../img/fourth-parallax.jpeg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 0;
}
div.gallery {
  margin: 2.5%;
  border: 2px solid #ccc;
  float: left;
  width: 20%;
}
div.gallery:hover {
  border: 2px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
div.gallery-right {
  margin: 2.5%;
  border: 2px solid #ccc;
  float: right;
  width: 20%;
}
div.gallery-right img {
  width: 100%;
  height: auto;
}
div.gallery-right:hover {
  border: 2px solid #777;
}
footer#gallery {
  padding-top: 90%;
  background-color: black;
}
#gallery {
  background-image: url("../img/road-wallpaper.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
p.contact {
  padding: 2%;
  margin-left: 11%;
  text-align: left;
}
h1.contact {
  text-align: left;
  margin-left: 13%;
}
#contact {
  background-image: url("../img/road-wallpaper.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.social {
  color: #ab7474;
}
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  display: block;
  margin-bottom: 10px;
  color: white;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}