* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    /*"Playfair Display", serif*/
    /*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    /*"Oswald", sans-serif*/
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    font-weight: 200;
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    background-image: url("../img/wallpaper2.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, minmax(30px, auto));
    grid-gap: 0px;
    width: 100%;
}

#topBtn {
    z-index: 1010;
    background-color: #ffffff;
    color: #000000;
    grid-column-start: 1;
    grid-column-end: 2;
    position: fixed;
    top: 70%;
    left: 94%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-transform: uppercase;
    font-size: 160%;
    border-radius: 6px;
    display: none;
}

#topBtn:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.2s ease;
}

img {
    width: 100%;
}

header {
    height: 16%;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 13;
    width: 100%;
    z-index: 1004;
    position: fixed;
    top: 0;
    box-shadow: 0 0.5px 5px #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.hambi {
    background-color: black;
    padding: 0%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 150%;
    text-transform: uppercase;
    display: none;
}

.toggle {
    display: block;
    
}

.closeBtn {
    background-color: black;
    padding: 0%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 150%;
    text-transform: uppercase;
    display: block;
    transition: 0.1s ease;
}

.close {
    transform: scale(0);
    display: none;
}



#logo {
    color: #ddd;
    padding: 3%;
    right: 100%;
    justify-content:first baseline;
}

#logo h1 {
    font-weight: 400;
    font-size: 200%;
}

#logo a {
    color: #ddd;
    text-transform: uppercase;
}

#logo img {
    width: 17%;
    margin-right: 2%;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 1;
    background-color: rgb(172, 171, 170);
    height: 25%;
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5%;
    z-index: 1003;
    transition: 0.3s;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid black;
}

.active {
    height: 0%;
    visibility: collapse;
    transition: all 0.3s ease;
}

.font1,
.font2,
.font3,
.font4 {
    visibility: collapse;
    transition: 0.1s ease;
}

#shop {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: span 4;
    margin-left: 0%;
    padding: 1%;
}

#story {
    grid-column-start: 6;
    grid-column-end: 8;
    padding: 1%;
}

#contact {
    grid-column-start: 8;
    grid-column-end: 10;
    padding: 1%;
}

#login {
    grid-column-start: 10;
    grid-column-end: 13;
    padding: 1%;
    margin-right: 0%;
}

#shop,
#login,
#story,
#contact {
    color: black;
    font-size: 130%;
    font-weight: 400;
    margin-top: 6.5%;
}

#shop:hover,
#login:hover,
#story:hover,
#contact:hover {
    /*color: #995c2a;*/
    border-bottom: 2px solid #000000;
    transition: all 0.2s ease;
}

#content1 {
    top: 9%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#content1 video {
    grid-column-start: 1;
    grid-column-end: 12;
    width: 100%;
    position: relative;
    z-index: 998;
}

#content1 h5 {
    position: absolute;
    z-index: 999;
    top: 80%;
    left: 4%;
    color: white;
    font-size: 250%;
    font-weight: 500;
    border-bottom: 2px solid white;
}

#content1 a {
    position: absolute;
    z-index: 999;
    top: 81%;
    left: 57%;
    color: white;
    font-size: 150%;
    font-weight: 200;
    padding: 0.5%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#content1 a:hover {
    background-color: rgba(209, 207, 207, 0.5);
    transition: 0.3s;
}

#content2 {
    grid-column-start: 2;
    grid-column-end: 7;
    margin-top: 27%;
}

#content2 h2 {
    font-size: 2rem;
    padding: 7%;
    color: #000000;
}

#content2 p {
    padding: 7%;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}

#content3 {
    grid-column-start: 7;
    grid-column-end: 13;
    margin-top: 15%;
}

#content3 img {
    margin-top: 5%;
    width: 75%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #343333;
    position: sticky;
    top: 22%;
}

#content4 {
    margin-top: 5%;
    grid-column: span 13;
    background-color: black;
}

#content4 h2 {
    font-size: 2rem;
    margin-bottom: 5%;
    padding: 0%;
    padding-left: 10%;
    color: #ddd;
}

#content4 p {
    margin:5% 0% 0% 7%;
    width: 70%;
    padding: 4%;
    font-size: 1.4rem;
    color: #ddd;
    margin-right: 8%;
}

#flex-content4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content4-img {
    width: 100%;
    border-right: 3px solid white;
}

#content5 {
    grid-column-start: 2;
    grid-column-end: 7;
}

#content5 h2 {
    font-size: 2rem;
    padding-top: 15%;
    padding-left: 10%;
}

#content5 p {
    padding: 10%;
    font-size: 1.4rem;
    color: #000;
}

#content6 {
    grid-column-start: 7;
    grid-column-end: 12;
    padding-top: 10%;
    grid-row: span 7;
}

#content6 iframe {
    margin: 5%;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0 1px 5px #252525;
}

#content7 {
    grid-column-start: 2;
    grid-column-end: 7;
}


footer {
    grid-column-start: 1;
    grid-column-end: 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(30px, auto));
    grid-gap: 0px;
    margin-bottom: 0%;
}

#one {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #000;
    color: #ddd;
    padding: 15% 5%;
    text-align: center;
}

#two {
    grid-column-start: 5;
    grid-column-end: 9;
    background-color: #000;
    color: #ddd;
    padding: 15% 5%;
    text-align: center;
}

#three {
    grid-column-start: 9;
    grid-column-end: 13;
    background-color: #000;
    color: #ddd;
    padding: 15% 5%;
    text-align: center;
}


#two a {
    color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

#two a:hover {
    background-color: #3d3b3b;
    transition: all 0.3s ease;
}

#three.icon-bar {
    margin-top: 5%;
}

.icon-bar a {
    text-align: center;
    transition: all 0.3s ease;
    padding: 22px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.icon-bar a:hover {
    background-color: #3d3b3b;
}

.facebook {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.twitter {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.instagram {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.youtube {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}




#models {
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 25%;
    margin-bottom: 5%;
}

#models-content1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    margin-bottom: 15%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    top: 31%;
}

#models-content1 h5 {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    padding: 5% 25.8% 5% 25.8%;
    background-color: rgba(0, 0, 0, 0.4);
}

.models-content {
    margin-top: 5%;
    margin-bottom: 2.5%;
    grid-column-end: 12;
    grid-column-start: 2;
    background-color: #6f6f6f;
        /*#3f4c55*/
    ;
    border-radius: 8px;
    z-index: 0;
    position: relative;
}

.models-content-gt {
    margin-top: 5%;
    margin-bottom: 15%;
    grid-column-start: 2;
    grid-column-end: 12;
    background-color: #5b6c79
        /*#3f4c55*/
    ;
    border-radius: 8px;
    z-index: 0;
    position: relative;
}

.models-content:hover {
    background-color: #2e2f30;
    box-shadow: 0 3px 5px #ffffff;
}

#models-content4-img h2 {
    font-size: 2.5rem;
    z-index: 15;
    position: absolute;
    top: 10%;
    left: 3%;
    color: white;
    border-bottom: 2px solid white;
}

#models-content4-text p {
    padding: 15%;
    font-size: 1.4rem;
    color: #ddd;
}

#models-flex-content4 {
    display: flex;
    justify-content: space-between;
    justify-items: first baseline;
    align-items: center;
}

#models-content4-img {
    width: 60%;
}

/*#models-content4-img img {
    border-right: 4px solid white;
}*/



body#models-body {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/wallpaper2.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, minmax(30px, auto));
    grid-gap: 0px;
}

#models-header {
    height: 16%;
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 13;
    width: 100%;
    z-index: 1004;
    position: fixed;
    top: 0;
    box-shadow: 0 0.5px 5px #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#models-footer {
    margin-top: 20%;
    bottom: 0;
    grid-row: 8;
    grid-column: span 13;
    grid-row: span 5;
    background-color: black;
    color: #ddd;
    margin-bottom: 0;
}

.models-menu {
    background-color: black;
}

.models-close {
    background-color: black;
}

#one p {
    color: white;
}

#img-918 {
    width: 100%;
    margin-bottom: 10%;
}

#back-to-models {
    margin-left: 40%;
    font-size: 150%;
    text-transform: uppercase;
}

#back-to-models a {
    color: #ddd;
}

#content7 {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #768990;
    margin-bottom: 10%;
    border: 2px solid black;
    box-shadow: 0 0.5px 5px #ddd;
}

#price {
    padding: 5%;
}

#price h2 {
    font-size: 200%;
    font-weight: 600;
    color: #dad9d9;
    padding: 2%;
    margin-bottom: 10%;
}

#price p {
    margin-bottom: 10%;
    font-size: 120%;
    color: #ddd;
    padding: 2%;
}

#price h3 {
    font-size: 150%;
    color: #ddd;
    padding: 2%;
}

#price h4 {
    font-size: 150%;
    color: #ddd;
    padding: 2%;
}

#buy-form {
    width: 80%;
    padding-right: 5%;
}

#buy-form form {
    padding: 5%;
}

#buy-form input {
    margin: 2%;
    padding: 2%;
    width: 100%;
    border-radius: 5px;
}

#buy-form textarea {
    border-radius: 5px;
    margin: 2%;
    padding: 2%;
    width: 100%;
    min-height: 150px;
}

#buy-form label {
    padding: 1%;
    margin-left: 2%;
    font-size: 130%;
    color: #000;
    font-weight: 700;
}

#send {
    background-color: #334040;
    color: #cecece;
    font-size: 130%;
    padding: 5%;
}

#send:hover {
    background-color: #989188;
    transform: scale(1.01);
    transition: 0.2s ease;
    color: #000;
}

.turbo {
    margin-bottom: 10%;
}



@media only screen and (max-width: 660px) {

    #content1 h5 {
        display: none;
    }

    #content1 a {
        display: none;
    }

}






@media only screen and (max-width: 900px) {

    body {
        background-color: rgb(0, 0, 0);
        background-image: url("../img/wallpaper2.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(15, minmax(30px, auto));
        grid-gap: 0px;
        width: 100%;
    } 

    #topBtn {
        z-index: 1010;
        background-color: #929595;
        color: #3d3b3b;
        grid-column-start: 1;
        grid-column-end: 2;
        position: fixed;
        top: 70%;
        left: 91%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        text-transform: uppercase;
        font-size: 160%;
        border-radius: 6px;
        display: none;
    }

    header {
        grid-column: span 9;
        width: 100%;
    }

    #content1 {
        grid-column: span 12;
        font-size: 70%;
        top: 23%;
    }

    #content1 video {
        width: 100%;
    }

    #content2 {
        grid-column: span 12;
        padding: 2%;
        margin: 0;
        margin-top: 5%;
    }

    #content2 p {
        font-size: 170%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #content2 h2 {
        margin-top: 5%;
        font-size: 370%;
        margin-left: 5%;
    }

    #content3 {
        grid-column: span 12;
        margin-top: 1%;
        margin-left: 13%;
    }

    #content3 img {
        width: 85%;
    }

    #content4 {
        margin-top: 10%;
    }

    #content4-img {
        display: none;
    }

    #content4-text h2, p {
        margin-right: 0%;
        margin-left: 0%;
    }

    #content5 {
        grid-column: span 12;
    }

    #content5 h2 {
        font-size: 270%;
    }

    #content5 p {
        font-size: 170%;
    }

    #content6 {
        margin-top: 0%;
        grid-column: span 12;
        margin-left: 5%;
        margin-right: 0%;
    }

    #flex-footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(15, minmax(30px, auto));
        grid-gap: 0px;
    }

    #one {
        grid-column: span 12;
        padding: 5%;
    }

    #two {
        grid-column: span 12;
        padding: 5%;
    }

    #three {
        grid-column: span 12;
        padding: 5%;
        padding-bottom: 10%;
    }


    #shop-content1 {
        margin-top: 0%;
        grid-column: span 12;
    }

    #shop-content2 {
        margin-top: 0%;
        grid-column: span 12;
    }

    #shop-footer {
        margin-top: 25%;
    }

    body#models-body {
        background-color: rgb(0, 0, 0);
        background-image: url("../img/wallpaper2.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, minmax(30px, auto));
        grid-gap: 0px;
    }

    #models-content1 {
        top: 42%;
        text-align: center;
    }

    #models-content1 h5 {
        font-size: 175%;
        padding: 5% 0% 5% 0%;
    }

    #models-flex-content4 {
        flex-direction:column;
        align-items: self-start;
    }

    #models-content4-text p {
        padding: 3% 2% 10% 2%;
        margin-left: 50px;
        font-size: 130%;
        width: 85%;
    }

    #models-content4-img {
        margin-top: 10%;
    }

    #models-content4-img img {
        border-right: none;
        width: 150%;
        margin-left: 5%;
    }

    #models-content4-img h2 {
        top: 3%;
        left: 5%;
        font-size: 180%;
    }

    #content7 {
        flex-direction: column;
    }

    #logo h1 {
        font-size: 150%;
    }

    #logo {
        margin-left: 2%;
    }

    .hambi {
        font-size: 90%;
    }

    .menu {
        top: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgb(163, 163, 163);
        transition: 0.3s ease;
    }

    .active {
        height: 0%;
        visibility: collapse;
        transition: all 0.3s ease;
    }

    #shop,
    #login {
        margin: 0;
    }

    #login {
        margin-top: 5%;
    }

    #shop,
    #login,
    #story,
    #contact {
        font-size: 1.5rem;
        margin-top: 5%;
    }


    .font1 {
        visibility: collapse;
        transition: 0.3s ease;
    }

    .font2 {
        visibility: collapse;
        transition: 0.2s ease;
    }

    .font3 {
        visibility: collapse;
        transition: 0.1s ease;
    }

    .font4 {
        visibility: collapse;
        transition: 0s ease;
    }

}








#nav-918 {
    margin-top: 100%;
}


#models-intro {
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 22%;
}

#models-intro h2, h3 {
    color: white;
}

#models-intro p {
    padding: 5%;
    color: white;
}

#models-slide {
    grid-column: span 12;
}

.carousel-container {
    top: 20%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 12;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}

.carousel {
    display: flex;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: auto;
    animation:forwards 0.4s ease;
}

.slide img:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.carousel-text1 {
    position: absolute;
    top: 10%;
    left: 20px;
    color: rgb(255, 255, 255);
    font-size: 200%;
    font-style: italic;
    font-weight: 500;
    border-bottom: 2px solid rgb(255, 255, 255);
    
}

.carousel-text2 {
    grid-column-start: 2;
    grid-column-end: 12;
    position: absolute;
    top: 114%;
    left: 10%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-text2 p {
    padding: 5%;
}

.carousel-text2 h2,
.carousel-text2 p {
    margin: 0;
}

.prev, .next {
    font-size: 500%;
    font-weight: 10;
    position: absolute;
    transform: translateY(-50%);
    color: rgb(218, 204, 204);
    border: none;
    cursor: pointer;
    padding: 10px;
    top: 150%;
    margin: 0;
}

.prev {
    grid-column-start: 1;
    grid-column-end: 2;
    right: 94%;
}

.next {
    grid-column-start: 12;
    grid-column-end: 13;
    left: 94%;
}

.prev:hover {
    color: black;
    transition: 0.2s ease-in;
}

.next:hover {
    color: black;
    transition: 0.2s ease;
}