* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html { /*"Playfair Display", serif*/ /*'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/ /*"Oswald", sans-serif*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/back.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
    width: 100%;
}

#all {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, minmax(30px, auto));
    grid-gap: 0px;
}

#header {
    grid-column: span 12;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1001;
}

#flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    box-shadow: 0 0.5px 5px #ddd;
}

#flex-header a {
    margin-right: 50px;
    padding: 10px;
    font-size: 1.3rem;
    color: #ddd;
    text-transform: uppercase;
}

#logo a {
    font-size: 3rem;
}

#menu a {
    border-radius: 5px;
}

#menu a:hover {
    transition: 0.4s;
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
}

/*button {
    background-color: black;
    color: #ddd;
    border-radius: 50%;
}*/



#content1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#content1 video {
    width: 100%;
    position: relative;
    z-index: 998;
}

#content1 h5 {
    position: absolute;
    z-index: 999;
    top: 70%;
    left: 7%;
    color: white;
    font-size: 3rem;
    font-weight: 300;
    border-bottom: 2px solid white;
}

#content1 a {
    position: absolute;
    z-index: 999;
    top: 80%;
    left: 7%;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    padding: 0.5%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}

#content1 a:hover {
    background-color: rgba(209, 207, 207, 0.5);
    transition: 0.3s;
}

#content2 {
    grid-column-start: 2;
    grid-column-end: 7;
    margin: 5%;
}

#content2 h2 {
    font-size: 3rem;
    padding: 10%;
}

#content2 p {
    padding: 10%;
    font-size: 1.4rem;
    color: #000;
}

#content3 {
    grid-column-start: 7;
    grid-column-end: 13;
    padding-top: 10%;
}

#content3 img {
    width: 75%;
    box-shadow: 0 1px 5px #343333;
}

#content4 {
    grid-column: span 13;
    background-color: black;
}

#content4 h2 {
    font-size: 3rem;
    padding: 1%;
    padding-left: 10%;
    color: #ddd;
}

#content4 p {
    padding: 10%;
    font-size: 1.4rem;
    color: #ddd;
}

#flex-content4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content4-img {
    width: 160%;
    border-right: 3px solid white;
}

#content5 {
    grid-column-start: 2;
    grid-column-end: 7;
}

#content5 h2 {
    font-size: 3rem;
    padding-top: 15%;
    padding-left: 10%;
}

#content5 p {
    padding: 10%;
    font-size: 1.4rem;
    color: #000;
}

#content6 {
    grid-column-start: 7;
    grid-column-end: 12;
    padding-top: 10%;
    grid-row: span 7;
}

#content6 iframe {
    border-radius: 5px;
    box-shadow: 0 1px 5px #252525;
}

#content7 {
    grid-column-start: 2;
    grid-column-end: 7;
}

#footer {
    grid-column: span 13;
    grid-row: 19;
    grid-row: span 5;
    background-color: black;
    color: #ddd;
}

#flexfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

#two a {
    color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

#two a:hover {
    background-color: #3d3b3b;
    transition: all 0.3s ease;
}

#three {
    padding: 2%;
}

.icon-bar a {
    text-align: center;
    transition: all 0.3s ease;
    padding: 22px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.icon-bar a:hover {
    background-color: #3d3b3b;
}

.facebook {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.twitter {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.instagram {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.youtube {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}




input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 5;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
  }
  

  .modal-content {
    background-color: #afabab;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 30%; 
    border-radius: 5px;
  }
  

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  #login {
    border-radius: 5px;
    width: 50%;
  }

  .close:hover,
  .close:focus {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  

  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


  body#shop {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/back.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#shop-content1 {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row: span 12;
    margin:10% 5% 10% 5%;
    border-radius: 5px;
    z-index: 9;
}

#shop-content1 h2 {
    position: absolute;
    top: 80%;
    z-index: 11;
    color: white;
    margin-left: 10%;
    margin-bottom: 10%;
    font-size: 3rem;
    font-weight: 200;
}

#shop-content1 img {
    border-radius: 5px;
    z-index: 10;
}

#shop-content2 {
    grid-column-start: 7;
    grid-column-end: 12;
    position: relative;
    grid-row: span 12;
    margin:10% 5% 10% 5%;
    border-radius: 5px;
    z-index: 10;
}

#shop-content2 img {
    border-radius: 5px;
}

#shop-content2 h2 {
    top: 80%;
    left: 27%;
    position: absolute;
    z-index: 11;
    color: #ddd;
    font-weight: 200;
    margin-left: 10%;
    font-size: 3rem;
}

#shop-content2 img:hover {
    transform: scale(0.98);
    transition: 0.2s ease-in-out;
}

#shop-content1:hover {
    transform: scale(0.98);
    transition: 0.2s ease-in-out;
}

#models-content1 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    margin-bottom: 15%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#models-content1 video {
    width: 100%;
    position: relative;
    z-index: 998;
}

#models-content1 h5 {
    position: absolute;
    z-index: 999;
    top: 0%;
    color: white;
    font-size: 3rem;
    font-weight: 300;
    padding: 5% 25.8% 5% 25.8%;
    background-color: rgba(0, 0, 0, 0.4);
}

.models-content {
    margin-top: 5%;
    margin-bottom: 2.5%;
    grid-column-start: 2;
    grid-column-end: 12;
    background-color: #5b6c79/*#3f4c55*/;
    border-radius: 8px;
    z-index: 0;
    position: relative;
}

.models-content:hover {
    background-color: #5b6c79;
    box-shadow: 0 3px 5px #ffffff;
}

#models-content4-img h2 {
    font-size: 2.5rem;
    z-index: 15;
    position: absolute;
    top: 10%;
    left: 3%;
    color: white;
    border-bottom: 2px solid white;
}

#models-content4-text p {
    padding: 15%;
    font-size: 1.4rem;
    color: #ddd;
}

#models-flex-content4 {
    display: flex;
    justify-content: space-between;
    justify-items: first baseline;
    align-items: center;
}

#models-content4-img {
    width: 60%;
}

#models-content4-img img {
    border-right: 4px solid white;
}



body#models {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/back.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#models-all {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(17, minmax(30px, auto));
    grid-gap: 0px;
}

#models-footer {
    grid-column: span 13;
    grid-row: 100;
    grid-row: span 5;
    background-color: black;
    color: #ddd;
}

#one p {
    color: white;
}

#body-918 {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/back.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content1-918 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: span 5;
    box-shadow: 0 1px 8px #ddd;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

#content1-918 video {
    width: 100%;
    position: relative;
    z-index: 998;
}

#content1-918 h5 {
    position: absolute;
    z-index: 999;
    top: 70%;
    color: white;
    font-size: 3rem;
    font-weight: 500;
    left: 5%;
    box-shadow: 0 3px 0px #ffffff;
}

.content2-918 {
    margin-top: 10%;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: rgba(146, 136, 108,0);
    border-radius: 5px;
}

.content2-918 h3 {
    padding: 5% 5% 2% 5%;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.content2-918 p {
    padding:2% 5% 5% 5%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

.img-918 {
    margin-left: 5%;
    margin-top: 10%;
    grid-column-start: 7;
    grid-column-end: 12;
    background-color: rgba(206, 196, 179, 0);
    border-radius: 5px;
}

.img-918 img {
    border-radius: 5px;
}

.img-918-2 img {
    border-radius: 5px;
}

.content2-918-2 {
    margin-left: 5%;
    margin-top: 10%;
    grid-column-start: 7;
    grid-column-end: 12;
    background-color: rgba(146, 136, 108,0);
    border-radius: 5px;
}

.img-918-2 {
    margin-top: 10%;
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: rgba(206, 196, 179, 0);
    border-radius: 5px;
}

.content2-918-2 h3 {
    padding: 5% 5% 2% 5%;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.content2-918-2 p {
    padding:2% 5% 5% 5%;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}